{% extends 'layout.html' %}
{% block title %}My Page{% endblock %}
{% block head %}
{% parent %}
<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/scripts/index.js"></script>
{% endblock %}
{% block content %}
<form>
    <div class="form-group">
      <label for="username">用户名：</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="请输入用户名">
    </div>
    <button id="btnsubmit" type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}